$color-fondogeneral:linear-gradient(45deg, rgba(210,255,82,1) 0%, rgba(121,181,65,1) 100%);
$color-secundariofondo: rgb(248, 248, 109);
$color-secundariofondoclaro: white;
$color-fontoscuro: black;
$color-fontclaro: white;
$color-secundariobordesimagenes:yellowgreen;
$coloresbotonesnav: lightgreen;

$font-estilosrecuadros:"Sofia";
$font-graltextos:sans-serif;
$font-leyendas:Georgia;
$font-secundarias:Arial;
$font-secundarias2:'Segoe UI';